@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 62.5%; /* changes a default 16px font size to 10px e.g 14px = 1.4rem, 20px = 2rem */
  overflow-x: hidden;
}



/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/


